.d-crossword-area {
    width: 500px;
    height: 500px;
    /*	background: #037ed5; */
    position: relative;
}
.grid, .grid TD {
    border: 1px solid #777;
    border-collapse: collapse;
}
.grid TD DIV {
    width: 19px;
    height: 19px;
}
.right-panel {
    position: relative;
}
/** Word preview
---------------------------------- */
.word-preview {
    width: 100%;
    height: 280px;
    border: 1px solid #CCC;
}
.word-view {
    cursor: move;
}
.grid .word-table TD {
    border-color: #000;
}
.word-table, .word-table TD  {
    border: solid 2px #000;
    border-collapse: collapse;
}
.word-table TD {
    width: 18px;
    min-width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
}
.droppable-hover {
    /*    border: 1px solid #00c; */
}
.droppable-active {
    /*   border: 1px solid #c00; */
}

/* Word Form
---------------------------------- */
.word-form LABEL {
    font-size: 20px;
}
.word-form DD.text INPUT, .word-form DD.text TEXTAREA {
    width: 100%;
    line-height: 24px;
    font-size: 20px;
    resize: none;
}
.word-form DD.text INPUT {
    height: 24px;
}
.words-panel {
    padding: 0px 10px;
}
.form-item INPUT, .form-item TEXTAREA {
    border: 1px solid #ccc;
    padding: 2px;
}
#form-status {
    width: 32px;
    float: right;
    position: relative;
}
#form-status .icon {
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    display: block;
    cursor: pointer;
}
/* -------------------- hints ----------------- */
/* -------------------- info ----------------- */
.info .icon {
    background-image: url(../images/icons/information.png)
}
.info .hint, .info .hint .angle {
    border-color: #006ec4;
    color: #006ec4;
}
/* -------------------- error ----------------- */
.error .icon {
    background-image: url(../images/icons/error.png)
}
.error .hint, .error .hint .angle {
    border-color: #c00;
    color: #c00;
}
/* -------------------- success ----------------- */
.success .icon {
    background-image: url(../images/icons/checkmark.png)
}
.success .hint, .success .hint .angle {
    border-color: #0c0;
    color: #0c0;
}
/* -------------------- info ----------------- */
.loading .icon {
    background-image: url(../images/icons/loader.gif);
}
.loading .hint, .loading .hint .angle {
    border-color: #006ec4;
    color: #006ec4;
}

#form-status .hint {
    border-width: 1px;
    border-style: solid;
    position: absolute;
    right: -15px;
    bottom: 40px;
    width: 295px;
    height: 50px;
    border-radius: 5px;
    -moz-border-radius: 5px; 
    display: none;
}
.hint .angle {
    border-right: 1px solid #c00;
    border-bottom: 1px solid #c00;
    background-color: #fff; 
    width: 17px;
    height: 17px;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);    
    position: absolute;
    bottom: -9px;
    right: 20px;
}
.hint .text {
    margin: 5px;
    display: block;
}
/* Save 
---------------------------------- */
.save-button {
    margin: 10px 0px;
    float: right; 
}
.clear-button {
    border-radius: 30px;
    -moz-border-radius: 30px;
    border: 1px #009BCE solid;
    height: 24px;
    padding: 0px 8px;
    margin-top: -30px;
    background: #fff;
}
/* Radio decorator
---------------------------------- */
.radio-decorator {
    width: 100%;
    border: 1px solid #ccc;
    border-bottom: none;
    border-radius: 4px 4px 0px 0px;
    height: 24px; 
}
.radio-decorator .decorator-button {
    height: 24px; 
    width: 50%;
    float: left;
    text-align: center;
    cursor: pointer;
}
.radio-decorator .hover {
    background: #009de6;
}
.radio-decorator .selected {
    background: #0067b0;
    color: #fff;
}