* { 
	padding: 0px;
	margin: 0px;
}
BODY, HTML {
    position:relative;
    height:100%;
    margin:0px;
    padding:0px;
    font-family: "Trebuchet MS";
}
BODY {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAH4CAYAAACPClfRAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sFDA8GKSmvDlMAAAAZdEVYdENvbW1lbnQAQ3JlYXRlZCB3aXRoIEdJTVBXgQ4XAAACIklEQVRYw+1WS7LkMAiTUr73HGwOp7foQAQm3Rdwdio7fIUw8e+/QAACLhCfj8CFQAIuxEfiAoQ4XYi/PwB50q0hb677OkBifa4RkG6nSj9pLECYvu8D9NgUTnmfRJySh+P/wJNT5hNRU5ncBbHnQ68b7xPdaSpL9TlcET4gj6BkGkBb2lsK8v6wWJv8PBWlnQi9iG6ttD4Ln12Q/B+2fGp56UARTqSgqLWnQLb+sIXz8O0hrJpTxbUkUk2u9FSDaezXSuE1EAneHyoicLqoD8ZQt5EusJEBplond1Sc8s1pmVN5dayny7mzntbzvsZCF35rVpENAisDq063wsszJQaGfAHJqjSgLNXKE6EObbd29QjCgKZ/iqB0KhdSrNCpN1J0Ju6DMQ4tack9DNEoqq/W5EUcxQ4ug7NeI/W6rA/4+uiBllqLPZwUVY3dnqYktSq7LTnJXyW60tLpv/1DTkpOz6dSuZN85jW3LnRr9BQ++1SxDV24OG3naWQ6ezXJE75a20To6Y8GUe2lWsaWWtFnn+o1Bc4LzCMQbknbI/BXzdYS7frGyem466dnkfGgsbdPyYseNIW1FK7Y8y/bWVtP/WE2pPCTB/uJtpXDceVs60N7bH3LCLGHhzbKqczSElck8m3tqhRkkKfWErmB/WHWX0JFE4lJajg/V3wWdo5qomWQQj+khpN0cmvJ13fIAQcccMABBxxwwAEHHHDAAT/BH+hTmTP/BT24AAAAAElFTkSuQmCC) no-repeat;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -khtml-background-size: 100% 100%;
    background-size: 100% 100%;
    background: linear-gradient(top, #007eb8, #009de6);
    background: -moz-linear-gradient( top, #007eb8, #009de6);
    background: -webkit-gradient(linear, left top, left bottom, from(#007eb8), to(#009de6) );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#007eb8', endColorstr='#009de6');
    position: relative;
}
UL {
	padding: 0px 20px;
}
.b-layout, .footer-content {
    position:relative;
    margin:0 auto;
    width: 900px;
    height: 100%;
}
.b-layout {
	margin-bottom: 220px;
}
.icon-beta {
	width: 130px;
	height: 50px;
	background: url(../images/beta.png) no-repeat left top;
    position: absolute;
    top: 45px;
    left: 195px;	
}
.icon-symbols {
	width: 56px;
	height: 41px;
	background: url(../images/symbols.png) no-repeat left top;
    position: absolute;
    top: 25px;
    right: -35px;	
}
.icon-cat {
	width: 216px;
	height: 240px;
	background: url(../images/cat.png) no-repeat left top;
	float: left;
	margin: 20px 20px 20px 60px;
}
.footer {
    min-height: 200px;
	margin: 0px 0px 0px 0px;
	background: #1d3e64;
	padding: 15px;
}
.footer a {
	color: #bfe1f1;
}
.content-block {
    background: #fff;
    min-height: 450px;
    padding: 40px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    position: relative;
    height: 100%;
    margin: 0px 0px 0px 0px;
}
.menu-block {
    top: 65px;
    position: relative;
}
UL.menu {
    clear: both;
    padding: 10px 0px;
    float: right;
    margin-right: 30px; 
}
UL.menu, UL.menu li {
    list-style: none;
    font-size: 18px;
}
UL.menu LI {
    float: left; 
    padding: 0px 5px;
}
UL.menu A, UL.menu A:hover {
    color: #fff;
    text-decoration: none;
}
UL.menu A:hover {
    color: #ffcc1c;
}
A {
    text-decoration: none;
    color: #007eb8;
    font-weight: bold;
    font-size: 13px;
}
A:hover {
    text-decoration: underline;
}

/** Top Panel
----------------------------------*/
.top-panel-wrapper {
    height: 40px;
    background: #1d3e64;
    border-bottom: 1px solid #fff;
}
.top-panel {
}

/** User Panel
----------------------------------*/
.user-panel, .search-panel {
    height: 30px;
    width: 300px;
    line-height: 30px;
    margin-top: 5px;
    color: #fff;
}
.user-panel {
    float: right;
}
.auth-icon {
    margin: 8px 4px 0px 0px;
    width: 16px;
    height: 16px;
    float: left;
}
.search-panel {
    width: 250px;
    float: left;
}
.search-panel input {
    height: 20px;
    border: none;
    width: 180px;
    margin-top: 0px; 
}

/** Head
--------------------------------*/
.heading {
    height: 100px;
}
H1.site-name, H1.site-name A {
    display: block;
    color: #ffc320;
    text-shadow: #333 1px 1px 2px, #fff 0 0 40px;
    position: absolute;
    text-decoration: none;
    top: 25px;
    left: 20px;
    width: 220px;
    border: none;
    font-size: 24px;
}

/** Content
--------------------------------*/
.text-white, .user-panel A.text-white {
    color: #fff;
}
H2.title {
    font-size: 24px;
    margin-right: 150px;
    margin-top: -15px;
    color: #0069b3;
}
H2.welcome {
	font-size: 24px;
	color: #E75C58;
	margin: 20px 0px 0px 30px;
}
H3.subtitle {
	color: #E75C58;
}
.subtitle {
    margin: 10px 5px;
    color: #408CE8;
}
.content {
    position: relative;
}
.flash {
    border: 1px solid #aaa;
    padding: 5px;
    margin: 3px 0px;
    width: 500px;
}
.error {
    border-color: #c00;
    color: #c00;
}
.notice {
    color: #009de6;
    border-color: #009de6;
}
.with-help {
    margin-right: 240px;
}
.message {
    color: #555;
    background-color: #eee;
    border: 1px solid #aaa;
    padding: 5px;
    margin: 10px 0px;
    font-size: 12px;
}
.table {
    width: 100%;
}
P {
    margin: 15px 0px;
    color: #333;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.main-crosswords {
	clear: both;
    width: 100%;
    position: relative;
}
.main-block {
    width: 33%;
    float: left;
}
.tag-list {
    margin-top: 20px;
}
.right-panel {
    width: 300px;
    float: right;
}
.right {
    float: right;
}
.user-panel A {
    color: #ffc320;
    text-decoration: none;
}
.user-panel A:hover {
    text-decoration: underline;
}
.crosswords-list {
	width: 100%;
}
.crosswords-list TH {
	text-align: left;
}

/** Main Page
--------------------------------*/
.block-on-main {
	margin: 100px 0 20px 315px;
}
.big-text {
	font-size: 30px;
	color: #009de6;
}
UL.variants {
	margin: 10px 10px 10px 5px;
	font-style: italic;
}
UL.variants a {
	font-size: 16px;
}

/** Help panel
--------------------------------*/
.help-panel {
    width: 200px;
    float: right;
    background: #f7f5e3;
    margin: -40px -40px -40px 0px;
    padding: 40px 40px 40px 10px;
    height: 100%;
    border-left: 1px dashed #ddd;
    font-size: 13px;
	 border-radius: 0px 30px 30px 0px;
    -moz-border-radius: 0px 30px 30px 0px;
}

/** List services
--------------------------------*/
.clear {
    clear: both;
}
.list-services {
    position: relative;
    float: left;
    left: 50%;
    margin: 0px;
    padding: 0px;
}
.list-services LI {
    list-style: none;
    position: relative;
    float: left;
    right: 50%;
}
.list-services LI A {
    width: 100px;
    height: 100px;
    display: block;
    margin: 10px;
    border: 1px solid #97d4ff;
    border-radius: 10px;
    -moz-border-radius: 10px;
    text-decoration: none;
    color: #2c4b61;
}
.list-services LI A:hover {
    background: #0069b3;
    background: linear-gradient(top, #97d4ff, #bfe1f1, #97d4ff);
    background: -moz-linear-gradient( top, #97d4ff, #bfe1f1, #97d4ff);
    background: -webkit-gradient(linear, left top, left bottom, from(#007eb8), to(#009de6) );
    border-color: #3a92d0;
}
.service IMG {
    display: block;
    margin: 15px auto 0px auto; 
}
.list-services .service-name {
    display: block;
    text-align: center;
}

/** Profile
--------------------------------*/
.right-count {
    color: #0c0;
}
.wrong-count {
    color: #c00;
}
.blocks-container .block {
    display: none;
}
.tabs-container {
	padding: 5px 0px;
}
.blocks-container a.active {
    display: inline;
	z-index: 2;
	padding: 6px;
	border: 1px solid #009de6;
	border-bottom: 1px solid #fff;
	margin-bottom: -1px;
	margin: 0px 0px -1px 3px;
}
.tabs-container a {
	padding: 5px;
	margin-right: 3px;
	margin: 2px 0px -1px 3px;
	border: 1px solid #bfe1f1;
	border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
	position: relative;
	display: block;
	float: left;
	border-bottom: none;
}
.blocks-container .block {
	clear: left;
	border: 1px solid #009de6;
	padding: 5px;
}
/* Common
-------------------------------*/
.button {
    text-align: center;
    border-radius: 30px;
    -moz-border-radius: 30px;
    cursor: pointer;
    border: 1px solid #009de6;
    background: #fff;
    width: 100px;
    height: 35px;
    line-height: 35px;
    display: block;
    font-size: 13px;
    font-family: "Trebuchet MS";
    text-decoration: none;
    color: inherit;
}
.button:hover {
    text-decoration: none;
}
.save-button {
}
.save-crossword {
    float: right;
    margin: 10px 60px 0px 0px;
}
.constructor-save {
    float: right;
    margin: 10px 0px 0px 0px;
    width: 120px;

}
.delete {
    margin: 10px 0px 0px 0px;
    padding: 0px 12px 0px 0px;
    border-color: #c00;
    background: url(../images/icons/delete.png) 10px 10px no-repeat;
    text-align: right;
    width: 70px;
}

/* User Table
-------------------------------*/
.user-crosswords .name-container {
    width: 250px;
}
.table TD, .table TH {
    padding: 3px 4px;
    font-size: 13px;
}
.table TH {
    color: #1D3E64;
    border-bottom: 1px solid #1D3E64;
    text-align: left;
}
.table td {
    background: #f5f3eb;
    border-top: 1px solid #f7f5e3;
    color: #555;
}
.table TBODY TR:nth-child(odd) TD {
	/* 
	color: #fff;
	background: #408ce8;
	*/
	background: #fff;
	border-bottom: 1px solid #97d4ff;
}
.table TBODY TR:nth-child(odd) A {
    /*color: #ffc320;*/
}
.crosswords-list TBODY TD:first-child{
	width: 350px;
}
.crosswords-list TBODY TD:last-child{
	width: 120px;
}
.user-crosswords A.title {
    font-weight: bold;
}    
.user-crosswords A {
    text-decoration: none;
    color: #408ce8;
}
.user-crosswords A:hover {
    text-decoration: underline;
}
.user-crosswords .description {
}
.user-crosswords .active-icon {
    background: url(../images/icons/active.png) no-repeat;
    width: 24px;
    height: 24px;
    margin: 0px auto;
}
.user-crosswords .inactive-icon {
    background: url(../images/icons/inactive.png) no-repeat;
    width: 24px;
    height: 24px;
    margin: 0px auto;
}
.top-link-container {
    position: absolute;
    right: 45px;
    top: 0px;
}
.top-link-container A {
    color: #0066cc;
    text-decoration: none;
}
.top-link-container A:hover {
    text-decoration: underline;
}

/** Pagination
------------------------------*/
.pagination {
    text-align: right;
}
.pagination A {
    font-weight: bold;
}
.pagination A:hover {
    background-color: #408CE8;
    color: #fff;
}
.pagination A, .pagination .current-page {
    padding: 1px 2px;
    text-decoration: none;
    color: #408CE8;
    font-size: 14px;
}
.pagination .current-page {
    color: #555;
}
.pagination-desc {
    text-align: right;
}
/** Forms
-------------------------------*/
FORM INPUT[type=text], FORM TEXTAREA {
    width: 500px;
    font-size: 14px;
    padding: 3px;
    border: 1px solid #aaa;
}
TEXTAREA {
    resize: none;
}
FORM DL UL.holder {
    width: 500px;
    border-radius: 0px;
}
DL.form DD {
    padding: 3px 0px;
}
DL.form DT {
    padding-top: 3px;
}
UL.error_list {
    color: #c00;
    list-style: none;
}